<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machine à Sous</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Machine à Sous</h1>

    <img id="canvas_back" src="/images/machineSous.png" /></a>
    <canvas id="canvas"> </canvas>


    <button id="spinButton">Jouer</button>
    <div id="result"></div>
  </div>

  <script type="module">
    // import des class
    import Global from '/js/Global.js';
    import Elem from '/js/Elem.js';
    import Roue from '/js/Roue.js';
    import MachineSous from '/js/MachineSous.js';

    // creation de canvas
    var canvas = document.querySelector('#canvas');
    var ctx = canvas.getContext('2d');

    // Modifier la taille du canvas
    canvas.width = Global.TAILLE_ICON * Global.NB_ROUE;
    canvas.height = Global.HEIGHT_CANVAS;

    // creation machine a sous
    let machineSous = new MachineSous(ctx);


    // ------------ EVENEMENT -------------------

    // Événement de clic sur le bouton "Jouer"
    document.getElementById('spinButton').addEventListener('click', function () {
      if (Global.LANCER == true) {
        console.log("machine déja lancé");
      }
      else {
        Global.LANCER = true;

        machineSous.jouer(ctx).then(result => {

          console.log('res =' + result);
          switch (result) {
            case 0:
              console.log('Perdu');
              break;
            case 1:
              console.log('3=');
              animationWin(1);
              break;
            case 2:
              console.log('2=');
              animationWin(2);
              break;
            case 3:
              console.log('JACK POT');
              animationWin(3);
              break;
          }
          Global.LANCER = false;
        }).catch(error => {
          console.error("Une erreur s'est produite :", error);
        });

      }
    });


    // ------------ FONCTION -------------------

    async function animationWin(cas) {
      // Accéder à l'élément HTML avec la classe 'container'
      const container = document.querySelector('.container');
      const img = document.querySelector('#canvas_back');

      for (let i = 0; i < 20; i++) {
        if (cas == 3) container.style.boxShadow = '0 0 20px 10px #ff0000';
        img.src = '/images/machineSousWin.png'
        await new Promise(resolve => setTimeout(resolve, 100));
        if (cas == 3) container.style.boxShadow = '0 0 20px 10px #00b3ff';
        img.src = '/images/machineSous.png'
        await new Promise(resolve => setTimeout(resolve, 50));
      }
    }


  </script>


</body>

</html>