<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machine à Sous</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <a href="/"><img class="home" src="/images/casino-logo.png" alt="Logo du Casino Royal" /></a>

  <div id="generatedDiv">
    <p class="gras center">ATTENTION UNE PARTIE COUTE 10 CREDIT</p>

    <p class="gras">JACK POT !! : Cinq éléments identiques <br> GAIN : LA MISE FOIS 100</p>
    <p class="paddind_left">Ce cas se produit lorsque les cinq éléments successifs sont identiques</p>

    <p class="gras">GAIN 1 : Trois éléments identiques consécutifs et 2 Identiques <br>GAIN : LA MISE FOIS 30</p>
    <p class="paddind_left">Ce cas se produit lorsqu'il y a trois éléments identiques consécutifs et deux autres
      identiques mais non
      consécutifs</p>

    <p class="gras">GAIN 2 : Trois éléments identiques consécutifs <br> GAIN : LA MISE FOIS 10</p>
    <p class="paddind_left">Ce cas se produit lorsque les trois éléments successifs sont identiques</p>

    <p class="gras">GAIN 3 : ENV DE TEST UNIQUEMENT</p>
    <p class="paddind_left">Ce cas est utilisé uniquement dans l'environnement de test pour des besoins spécifiques</p>
  </div>

  <div class="container">
    <h1>Machine à Sous</h1>

    <img id="canvas_back" src="/images/machineSous.png" /></a>
    <canvas id="canvas"> </canvas>


    <button id="spinButton">Jouer</button>
  </div>

  <div id="result">
    <p class="gras">RESULTAT</p>
    <p id="res" class="paddind_left">les resultat s'afficheront ici</p>
    <p id="credit">Vos Credit : </p>
  </div>


  <script type="module">
    // import des class
    import Global from '/js/Global.js';
    import Elem from '/js/Elem.js';
    import Roue from '/js/Roue.js';
    import MachineSous from '/js/MachineSous.js';

    // creation de canvas
    var canvas = document.querySelector('#canvas');
    var ctx = canvas.getContext('2d');

    // Modifier la taille du canvas
    canvas.width = Global.TAILLE_ICON * Global.NB_ROUE;
    canvas.height = Global.HEIGHT_CANVAS;

    // creation machine a sous
    let machineSous = new MachineSous(ctx);


    // ------------ EVENEMENT -------------------

    // Événement de clic sur le bouton "Jouer"
    document.getElementById('spinButton').addEventListener('click', function () {
      if (Global.LANCER == true) {
        console.log("machine déja lancé");
      }
      else {
        Global.LANCER = true;

        machineSous.jouer(ctx).then(result => {

          let res = document.querySelector('#res');
          console.log('resultat : ' + result);
          switch (result) {
            case -1:
              // ENV DE TEST
              res.innerHTML = "ENV DE TEST"
              animationWin(1);
              break;
            case 0:
              res.innerHTML = "Perdu.."
              break;
            case 1:
              res.innerHTML = "GAIN 1"
              animationWin(1);
              break;
            case 2:
              res.innerHTML = "GAIN 2"
              animationWin(2);
              break;
            case 3:
              res.innerHTML = "!!!! JACK POT !!!!"
              animationWin(3);
              break;
          }
          Global.LANCER = false;
        }).catch(error => {
          console.error("Une erreur s'est produite :", error);
        });

      }
    });


    // ------------ FONCTION -------------------

    async function animationWin(cas) {
      // Accéder à l'élément HTML avec la classe 'container'
      const container = document.querySelector('.container');
      const img = document.querySelector('#canvas_back');

      for (let i = 0; i < 20; i++) {
        if (cas == 3) container.style.boxShadow = '0 0 20px 10px #ff0000';
        img.src = '/images/machineSousWin.png'
        await new Promise(resolve => setTimeout(resolve, 100));
        if (cas == 3) container.style.boxShadow = '0 0 20px 10px #00b3ff';
        img.src = '/images/machineSous.png'
        await new Promise(resolve => setTimeout(resolve, 50));
      }
    }




    // Récupère les paramètres nom, prenom et credit de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    const credit = urlParams.get("credit");

    // Affiche le crédit dans la console pour le débogage
    console.log("Crédit récupéré depuis l'URL :", credit);

    // Met à jour le contenu de l'élément credit
    const jetons = document.getElementById("credit");
    if (jetons && credit) {
      jetons.textContent = credit;
    }

  </script>


</body>

</html>