body {
  font-family: Arial, sans-serif;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center; /* Pour centrer horizontalement */
}

.row {
  display: flex;
}

.symbol {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  opacity: 0; /* Commencez avec une opacité de 0 */
  transition: opacity 0.5s ease-in-out; /* Transition pour une apparence progressive */
}

/* Masquer la moitié supérieure des images en haut */
.high-line .symbol {
  overflow: hidden;
  height: 25px; /* Ajustez la hauteur selon vos besoins */
}

/* Masquer la moitié inférieure des images en bas */
.low-line .symbol {
  overflow: hidden;
  height: 25px; /* Ajustez la hauteur selon vos besoins */
}
